################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlogDemo/App_Data
/BlogDemo/bin
/BlogDemo/obj/Debug
/BlogDemo/config
/.vs/BlogDemo/config
/BlogDemo/IIS-Builder.ps1
/BlogDemo/iis-config.json
/BlogDemo/post.html
/BlogDemo/index.html
/BlogDemo/contact.html
/BlogDemo/about.html
/BlogDemo.Core/bin
/BlogDemo.Core/obj/Debug
